In [6]:
#pip install tvdatafeed

SyntaxError: invalid syntax (713876876.py, line 2)

In [7]:
pip install --upgrade --no-cache-dir git+https://github.com/StreamAlpha/tvdatafeed.git

Collecting git+https://github.com/StreamAlpha/tvdatafeed.git
  Cloning https://github.com/StreamAlpha/tvdatafeed.git to c:\users\asus\appdata\local\temp\pip-req-build-lyqlqdk7
  Resolved https://github.com/StreamAlpha/tvdatafeed.git to commit a7034f04509b67224618917c29272796e4fff858
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: setuptools in c:\users\asus\anaconda3\envs\deepl\lib\site-packages (from tvdatafeed==2.1.0) (65.6.3)
Requirement already satisfied: pandas in c:\users\asus\anaconda3\envs\deepl\lib\site-packages (from tvdatafeed==2.1.0) (1.5.2)
Requirement already satisfied: websocket-client in c:\users\asus\anaconda3\envs\deepl\lib\site-packages (from tvdatafeed==2.1.0) (1.4.1)
Requirement already satisfied: requests in c:\users\asus\anaconda3\envs\deepl\lib\site-packages (from tvdatafeed==2.1.0) (2.28.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\asus\anaconda3\envs\deepl\lib\site-packages (from pandas->tvdatafeed==2.1.0) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in c:\users\asus\anaconda3\envs\deepl\lib\site-packages (from pandas->tvdatafeed==2.1.0) (1.24.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\anaconda3\envs\deepl\lib\site-packages (from pandas->tvdatafeed==2.1.0) (2022.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asus\anaconda3\envs\deepl\lib\site-packages (from requests->tvdatafeed==2.1.0) (2022.6.15)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\asus\anaconda3\envs\deepl\lib\site-packages (from requests->tvdatafeed==2.1.0) (2.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asus\anaconda3\envs\deepl\lib\site-packages (from requests->tvdatafeed==2.1.0) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\asus\anaconda3\envs\deepl\lib\site-packages (from requests->tvdatafeed==2.1.0) (1.26.11)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\envs\deepl\lib\site-packages (from python-dateutil>=2.8.1->pandas->tvdatafeed==2.1.0) (1.16.0)
Building wheels for collected packages: tvdatafeed
  Building wheel for tvdatafeed (setup.py): started
  Building wheel for tvdatafeed (setup.py): finished with status 'done'
  Created wheel for tvdatafeed: filename=tvdatafeed-2.1.0-py3-none-any.whl size=7594 sha256=246e873b0b9ff729ab63d3fa13fd5391e2b7a68f3dcf17c62ba5b44a79145f71
  Stored in directory: C:\Users\Asus\AppData\Local\Temp\pip-ephem-wheel-cache-nflly1pd\wheels\a4\80\7a\04bbe70838a72f13c4511eb1b4baf894bf0b3a559ca4287aa5
Successfully built tvdatafeed
Installing collected packages: tvdatafeed
Successfully installed tvdatafeed-2.1.0
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -rotobuf (c:\users\asus\anaconda3\envs\deepl\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\asus\anaconda3\envs\deepl\lib\site-packages)
  Running command git clone --filter=blob:none --quiet https://github.com/StreamAlpha/tvdatafeed.git 'C:\Users\Asus\AppData\Local\Temp\pip-req-build-lyqlqdk7'
WARNING: Ignoring invalid distribution -rotobuf (c:\users\asus\anaconda3\envs\deepl\lib\site-packages)
WARNING: Error parsing requirements for torch: [Errno 2] No such file or directory: 'c:\\users\\asus\\anaconda3\\envs\\deepl\\lib\\site-packages\\torch-1.13.0+cu116.dist-info\\METADATA'
WARNING: Ignoring invalid distribution -rotobuf (c:\users\asus\anaconda3\envs\deepl\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\asus\anaconda3\envs\deepl\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\asus\anaconda3\envs\deepl\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\asus\anaconda3\envs\deepl\lib\site-packages)

In [38]:
from tvDatafeed import TvDatafeed, Interval

username = 'jb0109@protonmail.com'
password = 'Lambo@01091990'

In [39]:
tv = TvDatafeed(username, password)

In [40]:
# index
gold_data = tv.get_hist(symbol='XAUUSD',exchange='OANDA',interval=Interval.in_daily,n_bars=10000)

# futures continuous contract
#nifty_futures_data = tv.get_hist(symbol='NIFTY',exchange='NSE',interval=Interval.in_1_hour,n_bars=1000,fut_contract=1)

# crudeoil
#crudeoil_data = tv.get_hist(symbol='CRUDEOIL',exchange='MCX',interval=Interval.in_1_hour,n_bars=5000,fut_contract=1)

# downloading data for extended market hours
#extended_price_data = tv.get_hist(symbol="EICHERMOT",exchange="NSE",interval=Interval.in_1_hour,n_bars=500, extended_session=False)

In [41]:
gold_data

,symbol,open,high,low,close,volume
datetime,,,,,,
1983-02-08 23:00:00,OANDA:XAUUSD,497.000,501.300,495.000,498.300,0.0
1983-02-09 23:00:00,OANDA:XAUUSD,501.000,511.000,500.500,509.500,0.0
1983-02-10 23:00:00,OANDA:XAUUSD,511.000,513.500,507.200,510.000,0.0
1983-02-13 23:00:00,OANDA:XAUUSD,506.500,516.000,506.100,514.200,0.0
1983-02-14 23:00:00,OANDA:XAUUSD,517.000,520.000,511.000,511.500,0.0
...,...,...,...,...,...,...
2023-02-16 23:00:00,OANDA:XAUUSD,1836.520,1843.685,1818.975,1842.565,57762.0
2023-02-19 23:00:00,OANDA:XAUUSD,1842.565,1847.570,1837.360,1843.760,29521.0
2023-02-20 23:00:00,OANDA:XAUUSD,1843.760,1843.905,1830.290,1834.915,51231.0
2023-02-21 23:00:00,OANDA:XAUUSD,1834.915,1846.070,1823.560,1825.305,51795.0
2023-02-22 23:00:00,OANDA:XAUUSD,1825.305,1833.900,1823.205,1826.160,19510.0

In [42]:
dollarIndex_data = tv.get_hist(symbol='DXY',exchange='TVC',interval=Interval.in_daily,n_bars=10000)
dollarIndex_data.tail(10)

                      symbol     open     high      low    close  volume
datetime
2023-02-10 01:00:00  TVC:DXY  103.255  103.683  102.899  103.578     0.0
2023-02-12 23:00:00  TVC:DXY  103.578  103.837  103.237  103.295     0.0
2023-02-14 01:00:00  TVC:DXY  103.218  103.518  102.586  103.269     0.0
2023-02-15 01:00:00  TVC:DXY  103.214  104.110  103.163  103.811     0.0
2023-02-16 01:00:00  TVC:DXY  103.882  104.234  103.533  104.096     0.0
2023-02-17 01:00:00  TVC:DXY  104.200  104.667  103.840  103.881     0.0
2023-02-19 23:00:00  TVC:DXY  103.881  104.089  103.760  103.760     0.0
2023-02-21 01:00:00  TVC:DXY  103.914  104.262  103.774  104.097     0.0
2023-02-22 01:00:00  TVC:DXY  104.128  104.595  104.006  104.496     0.0
2023-02-23 01:00:00  TVC:DXY  104.499  104.683  104.308  104.549     0.0

In [43]:
oil_data = tv.get_hist(symbol='USOIL',exchange='TVC',interval=Interval.in_daily,n_bars=10000)
oil_data.tail(10)

                        symbol    open    high     low   close  volume
datetime
2023-02-09 23:00:00  TVC:USOIL  77.635  80.285  77.515  79.735     0.0
2023-02-12 23:00:00  TVC:USOIL  79.865  80.565  78.485  79.095     0.0
2023-02-13 23:00:00  TVC:USOIL  79.025  79.575  77.525  78.795     0.0
2023-02-14 23:00:00  TVC:USOIL  78.795  79.115  77.295  78.475     0.0
2023-02-15 23:00:00  TVC:USOIL  78.465  79.495  77.965  77.995     0.0
2023-02-16 23:00:00  TVC:USOIL  78.055  78.215  75.365  76.545     0.0
2023-02-19 23:00:00  TVC:USOIL  76.595  77.695  76.365  77.355     0.0
2023-02-20 23:00:00  TVC:USOIL  77.355  77.585  75.945  76.145     0.0
2023-02-21 23:00:00  TVC:USOIL  76.085  76.505  73.825  73.825     0.0
2023-02-22 23:00:00  TVC:USOIL  73.865  74.825  73.865  74.695     0.0

In [44]:
interestrate_data = tv.get_hist(symbol='USINTR',exchange='ECONOMICS',interval=Interval.in_daily,n_bars=10000)
interestrate_data.tail(10)

                               symbol  open  high   low  close  volume
datetime
2022-05-04 02:00:00  ECONOMICS:USINTR  1.00  1.00  1.00   1.00     0.0
2022-06-15 02:00:00  ECONOMICS:USINTR  1.75  1.75  1.75   1.75     0.0
2022-07-27 02:00:00  ECONOMICS:USINTR  2.50  2.50  2.50   2.50     0.0
2022-08-31 02:00:00  ECONOMICS:USINTR  2.50  2.50  2.50   2.50     0.0
2022-09-21 02:00:00  ECONOMICS:USINTR  3.25  3.25  3.25   3.25     0.0
2022-10-31 01:00:00  ECONOMICS:USINTR  3.25  3.25  3.25   3.25     0.0
2022-11-02 01:00:00  ECONOMICS:USINTR  4.00  4.00  4.00   4.00     0.0
2022-12-14 01:00:00  ECONOMICS:USINTR  4.50  4.50  4.50   4.50     0.0
2023-01-31 01:00:00  ECONOMICS:USINTR  4.50  4.50  4.50   4.50     0.0
2023-02-01 01:00:00  ECONOMICS:USINTR  4.75  4.75  4.75   4.75     0.0

In [46]:
CPI_data = tv.get_hist(symbol='SP500',exchange='FRED',interval=Interval.in_daily,n_bars=10000)
CPI_data.tail(10)

                         symbol     open     high      low    close  volume
datetime
2023-02-08 01:00:00  FRED:SP500  4117.86  4117.86  4117.86  4117.86     0.0
2023-02-09 01:00:00  FRED:SP500  4081.50  4081.50  4081.50  4081.50     0.0
2023-02-10 01:00:00  FRED:SP500  4090.46  4090.46  4090.46  4090.46     0.0
2023-02-13 01:00:00  FRED:SP500  4137.29  4137.29  4137.29  4137.29     0.0
2023-02-14 01:00:00  FRED:SP500  4136.13  4136.13  4136.13  4136.13     0.0
2023-02-15 01:00:00  FRED:SP500  4147.60  4147.60  4147.60  4147.60     0.0
2023-02-16 01:00:00  FRED:SP500  4090.41  4090.41  4090.41  4090.41     0.0
2023-02-17 01:00:00  FRED:SP500  4079.09  4079.09  4079.09  4079.09     0.0
2023-02-21 01:00:00  FRED:SP500  3997.34  3997.34  3997.34  3997.34     0.0
2023-02-22 01:00:00  FRED:SP500  3991.05  3991.05  3991.05  3991.05     0.0