In [1]:
#pip install --upgrade --no-cache-dir git+https://github.com/StreamAlpha/tvdatafeed.git

In [3]:
import sys
sys.path.append('../scripts/')

from tvDatafeed import TvDatafeed, Interval
from credential import tradingview as settings

username = settings['username']
password = settings['password']

In [4]:
tv = TvDatafeed(username, password)

In [5]:
# index
gold_data = tv.get_hist(symbol='XAUUSD',exchange='OANDA',interval=Interval.in_daily,n_bars=10000)

# futures continuous contract
#nifty_futures_data = tv.get_hist(symbol='NIFTY',exchange='NSE',interval=Interval.in_1_hour,n_bars=1000,fut_contract=1)

# crudeoil
#crudeoil_data = tv.get_hist(symbol='CRUDEOIL',exchange='MCX',interval=Interval.in_1_hour,n_bars=5000,fut_contract=1)

# downloading data for extended market hours
#extended_price_data = tv.get_hist(symbol="EICHERMOT",exchange="NSE",interval=Interval.in_1_hour,n_bars=500, extended_session=False)

In [6]:
gold_data

,symbol,open,high,low,close,volume
datetime,,,,,,
1983-04-25 23:00:00,OANDA:XAUUSD,439.000,442.500,438.500,442.300,0.0
1983-04-26 23:00:00,OANDA:XAUUSD,440.500,440.700,432.500,435.000,0.0
1983-04-27 23:00:00,OANDA:XAUUSD,435.000,435.800,429.500,434.200,0.0
1983-04-28 23:00:00,OANDA:XAUUSD,432.000,434.500,428.200,433.500,0.0
1983-05-01 23:00:00,OANDA:XAUUSD,430.700,433.400,430.700,432.300,0.0
...,...,...,...,...,...,...
2023-05-02 23:00:00,OANDA:XAUUSD,2016.600,2040.495,2008.025,2039.565,88496.0
2023-05-03 23:00:00,OANDA:XAUUSD,2039.565,2067.000,2030.390,2050.310,158198.0
2023-05-04 23:00:00,OANDA:XAUUSD,2050.310,2053.045,1999.585,2016.790,99893.0
2023-05-07 23:00:00,OANDA:XAUUSD,2016.790,2029.400,2014.305,2021.355,57904.0
2023-05-08 23:00:00,OANDA:XAUUSD,2021.355,2037.655,2019.550,2034.490,62231.0

In [7]:
dollarIndex_data = tv.get_hist(symbol='DXY',exchange='TVC',interval=Interval.in_daily,n_bars=10000)
dollarIndex_data.tail(10)

                      symbol     open     high      low    close  volume
datetime
2023-04-26 01:00:00  TVC:DXY  101.815  101.891  101.013  101.447     0.0
2023-04-27 01:00:00  TVC:DXY  101.396  101.802  101.283  101.482     0.0
2023-04-28 01:00:00  TVC:DXY  101.473  102.172  101.423  101.672     0.0
2023-04-30 23:00:00  TVC:DXY  101.672  102.189  101.624  102.115     0.0
2023-05-02 01:00:00  TVC:DXY  102.145  102.404  101.884  101.935     0.0
2023-05-03 01:00:00  TVC:DXY  101.858  101.924  101.073  101.222     0.0
2023-05-04 01:00:00  TVC:DXY  101.202  101.635  101.027  101.448     0.0
2023-05-05 01:00:00  TVC:DXY  101.342  101.775  101.124  101.282     0.0
2023-05-07 23:00:00  TVC:DXY  101.282  101.417  101.041  101.388     0.0
2023-05-09 01:00:00  TVC:DXY  101.403  101.835  101.359  101.620     0.0

In [8]:
oil_data = tv.get_hist(symbol='USOIL',exchange='TVC',interval=Interval.in_daily,n_bars=10000)
oil_data.tail(10)

               symbol    open    high     low   close  volume
datetime
2023-04-26  TVC:USOIL  77.045  77.885  74.095  74.305     0.0
2023-04-27  TVC:USOIL  74.380  75.280  74.030  74.775     0.0
2023-04-28  TVC:USOIL  74.910  76.920  73.930  76.605     0.0
2023-05-01  TVC:USOIL  76.660  76.690  74.530  75.735     0.0
2023-05-02  TVC:USOIL  75.715  76.065  71.385  71.495     0.0
2023-05-03  TVC:USOIL  71.515  71.735  67.925  68.085     0.0
2023-05-04  TVC:USOIL  68.485  69.765  68.395  68.565     0.0
2023-05-05  TVC:USOIL  68.625  71.765  68.535  71.285     0.0
2023-05-08  TVC:USOIL  71.315  73.645  71.085  72.755     0.0
2023-05-09  TVC:USOIL  72.775  73.735  71.385  73.535     0.0

In [9]:
interestrate_data = tv.get_hist(symbol='USINTR',exchange='ECONOMICS',interval=Interval.in_daily,n_bars=10000)
interestrate_data.tail(10)

                               symbol  open  high   low  close  volume
datetime
2022-08-31 02:00:00  ECONOMICS:USINTR  2.50  2.50  2.50   2.50     0.0
2022-09-21 02:00:00  ECONOMICS:USINTR  3.25  3.25  3.25   3.25     0.0
2022-10-31 01:00:00  ECONOMICS:USINTR  3.25  3.25  3.25   3.25     0.0
2022-11-02 01:00:00  ECONOMICS:USINTR  4.00  4.00  4.00   4.00     0.0
2022-12-14 01:00:00  ECONOMICS:USINTR  4.50  4.50  4.50   4.50     0.0
2023-01-31 01:00:00  ECONOMICS:USINTR  4.50  4.50  4.50   4.50     0.0
2023-02-01 01:00:00  ECONOMICS:USINTR  4.75  4.75  4.75   4.75     0.0
2023-03-22 01:00:00  ECONOMICS:USINTR  5.00  5.00  5.00   5.00     0.0
2023-04-30 02:00:00  ECONOMICS:USINTR  5.00  5.00  5.00   5.00     0.0
2023-05-03 02:00:00  ECONOMICS:USINTR  5.25  5.25  5.25   5.25     0.0

In [10]:
CPI_data = tv.get_hist(symbol='SP500',exchange='FRED',interval=Interval.in_daily,n_bars=10000)
CPI_data.tail(10)

                         symbol     open     high      low    close  volume
datetime
2023-04-25 02:00:00  FRED:SP500  4071.63  4071.63  4071.63  4071.63     0.0
2023-04-26 02:00:00  FRED:SP500  4055.99  4055.99  4055.99  4055.99     0.0
2023-04-27 02:00:00  FRED:SP500  4135.35  4135.35  4135.35  4135.35     0.0
2023-04-28 02:00:00  FRED:SP500  4169.48  4169.48  4169.48  4169.48     0.0
2023-05-01 02:00:00  FRED:SP500  4167.87  4167.87  4167.87  4167.87     0.0
2023-05-02 02:00:00  FRED:SP500  4119.58  4119.58  4119.58  4119.58     0.0
2023-05-03 02:00:00  FRED:SP500  4090.75  4090.75  4090.75  4090.75     0.0
2023-05-04 02:00:00  FRED:SP500  4061.22  4061.22  4061.22  4061.22     0.0
2023-05-05 02:00:00  FRED:SP500  4136.25  4136.25  4136.25  4136.25     0.0
2023-05-08 02:00:00  FRED:SP500  4138.12  4138.12  4138.12  4138.12     0.0